@CHARSET "UTF-8";

html{
	font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/;
}

/* rwd */
img, object{
 max-width: 100%;
}

body{
	text-align: center;
	height:700px;
	background-image: url(../img/bgpic1.jpg);
}

.layout{
	/*border: 2px #ddd solid;*/
	padding: 0.5rem;
	width: 75%;
	margin-top:1rem;
	margin-left:4rem;
	margin-right:0.5rem;
	height: 90%;
	float:left;
	border-radius: 0.5rem;
}

.login{
	padding: 0.5rem;
	margin-left:0.5rem;
	margin-top:1rem;
	margin-right:2rem;
	width: 17%;
	height: 90%;
	float:right;
	background-color: white;
	border-radius: 0.5rem;
}

.logo{
	padding: 1rem;
	margin-left:1rem;
	margin-top:1rem;
	margin-right:2rem;
}

header{
	border: #aaa 0.3rem solid;
	background-color: red;
}

#title_nav{
	border: #0000ff 0.2rem dotted;
	margin: 0.5rem;
	width: 90%;
	border-radius: 0.5rem;
	text-align: center;
	background:-webkit-linear-gradient(top,orange,white);
	margin:auto;
	/*background-color: rgb(252, 235, 3);*/
}

#banner_nav{
	border: #0000ff 0.2rem solid;
	margin: 0.5rem;
	border-radius: 0.5rem;
	text-align: center;
	background-color:blue;
}

#title_span{
	font-size:3rem;
}

form{
	text-align: center;
	/*border: #ddd 0.1rem solid;*/
	width: 100%;
	/* padding: 1 rem;*/
	margin:auto;
}

table{
	text-align: center;
	width:100%;
	font-size:1.5rem;
}

div.goods{
	width:31%;
	float:left;
	background-color: white;
	padding: 1rem;
}

div.row{
	width:100%;
}

div.btns {
width:75%;
height: 2rem;
margin-top: 1 rem;
text-align: center;
overflow: hidden;
zoom: 1;
line-height: 1.8rem;
 margin:0 auto;
}

a.btn-buy{
float: left;
height: 1.9 rem;
padding: 0 1rem;
border: 0.1rem solid #ddd;
border-radius: 0.2rem;
margin: 0 0.4rem 0 0;
background: #F7F7F7;
line-height: 1.8rem;
text-align: center;
text-decoration: none;
cursor: pointer;
color: #333;
background: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2));
}

.cart{
	font-size:2rem;
}

